<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置打印 SQL log 的路径前缀 以及懒加载 -->
    <!--    <settings>-->
    <!--        <setting name="logPrefix" value="mybatis.sql."/>-->
    <!--        &lt;!&ndash; 打开延迟加载的全局开关 &ndash;&gt;-->
    <!--        <setting name="lazyLoadingEnabled" value="true"/>-->
    <!--        <setting name="aggressiveLazyLoading" value="false"/>-->
    <!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
    <!--    </settings>-->
    <typeAliases>
        <package name="io.github.sdutsoftlab.model"/>
    </typeAliases>
</configuration>