<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.sdutsoftlab.mapper.MenuMapper">

    <select id="queryOK" resultType="int" parameterType="string">
        select status from menu where menu=#{mname}
    </select>

    <update id="switchMenu">
        update menu set status=#{status} where menu=#{mname}
    </update>

</mapper>
